@import url('reset.css');
.header {
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; font-size: 20px;
}
.nav { display: flex; max-width: 100%; }
.nav ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
}
.link {
   font-size: 15px;
   color: black;
   transition-duration: 0.1s;
}
.burger-icon {
    display: none;
    position: relative;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
}
.burger-icon .line {
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: 0.2s;
}
.burger-icon .line.active:nth-child(1){
    width: 100%;
    transform: rotate(45deg) translate(10%, 280%);
}
.burger-icon .line.active:nth-child(2) { width: 0; }
.burger-icon .line.active:nth-child(3) {
    width: 100%;
    transform: rotate(-45deg) translate(20%, -340%);
}
.logo { position: relative; z-index: 800;}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px 10px;
    min-height: 100vh;
}
.block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 99.7%;
    border: 2px dashed rgb(167, 167, 167);
    justify-content: space-around;
    align-items: center;
}
.block .link {
    border: 0; font-size: 20px;
    padding: 0;
    font-family: monospace;
    text-transform: lowercase;
    color:darkcyan;
}
.block .link::after { content: '>>'; }
.block-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
/*.main-block {}*/
.title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: yellow;
    border-left: 0; border-right: 0;
}
.main-block .block-item:first-child {
    align-items: flex-start; gap: 10px;
}
.textcontent { font-family: monospace; }
.img_item {
    display: flex;
    border: 2px dashed rgb(167, 167, 167);
    border-top: 0; border-bottom: 0;
}
.img_blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 99.5%;
    border: 2px dashed rgb(167, 167, 167);
    border-left: 0; border-right: 0;
}

.block.result_infos { flex-direction: column; }
.result_infos .block-item { width: 100%; gap: 10px; }
.result_infos .img_item  { background-color: #f5f5f5; }
.block-item.main-block { display: flex; flex-direction: row; }
.block-item.main-block .img_item { border-left: 0; }

.goods .block-item {
    width: 20%;
    height: 100%;
    border: 2px dashed rgb(167, 167, 167);
    border-top: 0; border-bottom: 0;
    min-height: 320px;
    justify-content: flex-end;
}
.goods .title { font-size: 25px; }
.goods .img_item { border: 0; width: 60%; }

.sponsors,
.sponsors .img_blocks,
.sponsors .img_item {
    border: 0;
}

.block.main-block:last-child { background-color: #f5f5f5; }

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 40, 53);
    height: 50px;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.footerblock_item {
    display: flex; flex-direction: row;
    gap: 20px;
}
.footerblock_item.logo {color: white;}
.footerblock_item .img_item { border: 0; }

@media (min-width: 993px) {
    .link:hover {
        background-color: yellow;
        transition-duration: 0.5s;
        color: black;
    }
}
@media (max-width: 992px) {
    .burger-icon {display: flex;}
    .header_content {flex-direction: row;}
    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 30px 0;       
        animation: burgerAnimation 0.5s;
    }
    @keyframes burgerAnimation {
        from {opacity: 0; transform: translateX(-500px);}
        to {opacity: 1; transform: translateX(0px);}
    }
    .nav ul {
        padding: 10px 0;
        background-color: white;
        margin-top: 2%;
        flex-direction: column;
        row-gap: 30px;
        justify-content: flex-start;
        align-items: center;
    }
    .nav.active { display: flex; }
}
@media (max-width: 918px) {
    .block {
        align-items: flex-start;
        flex-direction: column;
    }
    .block:first-child .block-item,
    .block:last-child .block-item,
    .block-item.main-block
    {
        width: 100%;
    }
    .block.main-block .block-item:first-child {
        padding: 10px 0;
        border: 2px dashed rgb(167, 167, 167);
        border-top: none; border-right: none;
        border-left: 0;
    }
    .block-item.main-block {
        justify-content: flex-end;
        flex-direction: column;
        gap: 0px;
    }
    .block-item.main-block .textcontent {
        border: 2px dashed rgb(167, 167, 167);
        border-left: 0; border-right: 0;
        border-bottom: 0;
    }
    .block-item.main-block .img_item {
        border: 2px dashed rgb(167, 167, 167);
        border-top: none; border-bottom: none;
    }

    .title { font-size: 35px; }
    .textcontent { font-size: 25px; }
    .link { font-size: 25px; }
    .block.goods {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        border: none;
        
    }

    .result_infos.img_blocks { border-bottom: 0; }

    .img_blocks .img_item { align-self: center; }

    .goods .block-item {
        width: 45%;
        border: 2px dashed rgb(167, 167, 167);
        min-height: 420px;
    }
    .sponsors .img_blocks {
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px; width: 100%;
        min-height: 50px;
    }
}
